<% layout('layouts/home.layout') -%>

<!-- <div class="row"> -->
	<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Campañas Recomendadas <small>basic table subtitle</small></h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="#">Settings 1</a>
	          </li>
	          <li><a href="#">Settings 2</a>
	          </li>
	        </ul>
	      </li>
	      <li><a class="close-link"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>
	  <div class="x_content">

	    <table class="table">
	      <thead>
	        <tr>
	          <th>Nombre</th>
	          <th>Descripción</th>
	          <th>Fecha Inicio</th>
	          <th>Fecha Fin</th>
	        </tr>
	      </thead>
	      <tbody id="recommendedCampaign">
	        
	      </tbody>
	    </table>

	  </div>
	</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Campañas que tus amigos colaboraron <small>basic table subtitle</small></h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="#">Settings 1</a>
	          </li>
	          <li><a href="#">Settings 2</a>
	          </li>
	        </ul>
	      </li>
	      <li><a class="close-link"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>
	  <div class="x_content">

	    <table class="table">
	      <thead>
	        <tr>
	          <th>Nombre</th>
	          <th>Descripción</th>
	          <th>Fecha Inicio</th>
	          <th>Fecha Fin</th>
	        </tr>
	      </thead>
	      <tbody id="friendsDonatedCampaigns">
	        
	      </tbody>
	    </table>

	  </div>
	</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
	  <div class="x_title">
	    <h2>Campañas cerca de ti <small>basic table subtitle</small></h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="#">Settings 1</a>
	          </li>
	          <li><a href="#">Settings 2</a>
	          </li>
	        </ul>
	      </li>
	      <li><a class="close-link"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>
	  <div class="x_content">

	    <table class="table">
	      <thead>
	        <tr>
	          <th>Nombre</th>
	          <th>Descripción</th>
	          <th>Fecha Inicio</th>
	          <th>Fecha Fin</th>
	        </tr>
	      </thead>
	      <tbody id="nearbyCampaigns">
	        
	      </tbody>
	    </table>

	  </div>
	</div>
	</div>





<script type="text/javascript">
	$(document).ready(function () {
		$.get('/campaigns/recommended/search', function (data) {
			for(var campaign in data) {
	        	$('#recommendedCampaign').append("<tr><th scope='row'><a href='/campaigns/"+ data[campaign]._id +"'>" + data[campaign].name + "</a></th><td>" + data[campaign].category + "</td><td>" + data[campaign].start_date + "</td><td>" + data[campaign].end_date + "</td></tr>");
	      	}
		});

		$.get('/campaigns/friends/search', function (data) {
			for(var campaign in data) {
	        	$('#friendsDonatedCampaigns').append("<tr><th scope='row'><a href='/campaigns/"+ data[campaign]._id +"'>" + data[campaign].name + "</a></th><td>" + data[campaign].category + "</td><td>" + data[campaign].start_date + "</td><td>" + data[campaign].end_date + "</td></tr>");
	      	}
		});

		$.get('/campaigns/nearby/city', function (data) {
			for(var campaign in data) {
	        	$('#nearbyCampaigns').append("<tr><th scope='row'><a href='/campaigns/"+ data[campaign]._id +"'>" + data[campaign].name + "</a></th><td>" + data[campaign].category + "</td><td>" + data[campaign].start_date + "</td><td>" + data[campaign].end_date + "</td></tr>");
	      	}
		});
	});
</script>
