<% layout('old_layout') -%>
<div id="fb-root"></div>
<script src="/js/js.cookie.js"></script>
<script>
	var registerPerson = function (response) {
  		console.log(JSON.stringify(response, null, ' '));
  		
		//console.log(JSON.stringify(person, null, ' '));
		//window.location.href = "/api/facebook/" + response.id + "/" + 
		/*$.ajax({
		  type: "POST",
		  url: "/person",
		  data: JSON.stringify(person),
		  contentType: "application/json",
		  dataType: "json"
		});*/
  	};



	var fblogin = function () {
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)){ return;}
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=1244247258997804";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		var app_id = '1244247258997804';
		window.fbAsyncInit = function() {

			FB.init({
		    	appId      : app_id,
		    	status     : true,
		    	cookie     : true, 
		    	xfbml      : true, 
		    	version    : 'v2.8'
		  	});

		  	FB.getLoginStatus(function(response) {
		  		console.log( 'suposed two: ' + JSON.stringify(response.authResponse));
		  		$.ajax({
				  type: "POST",
				  url: "/person",
				  data: JSON.stringify(response.authResponse),
				  success: function (person) {
				  	$.ajax({
					  type: "POST",
					  url: "/authenticate",
					  data: JSON.stringify({"facebookid": person.facebookid}),
					  success: function (auth) {
					  	Cookies.set('usertoken', auth.token);
					  	window.location.href = "/person/" + person.username;
					  },
					  contentType: "application/json",
					  dataType: "json"
					});
				  },
				  contentType: "application/json",
				  dataType: "json"
				});
		  	});
		};

	};
	$(document).ready(function () {
		fblogin();
	});
</script>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-scope="public_profile, user_friends, email, user_birthday, user_likes, user_location, user_photos, user_education_history" data-auto-logout-link="false"></div>