<% layout('home.person') -%>
<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Network Activities <small>Graph title sub-title</small></h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  </div>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                  <img src="<%= user.userid.cover_picture %>" class="img-responsive" alt="">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12 bg-white">
                  <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= user.userid.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= user.userid.profile_picture %>" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Usuario:</td>
                        <td><%= user.username %></td>
                      </tr>
                      <tr>
                        <td>Edad:</td>
                        <td><%= user.age %></td>
                      </tr>
                      <tr>
                        <td>Frase:</td>
                        <td><%= user.slogan %></td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Genero: </td>
                        <td><%= user.gender %></td>
                      </tr>
                        <tr>
                        <td>Dirección: </td>
                        <td><%= user.userid.address.city %>, <%= user.userid.address.state %>, <%= user.userid.address.country %></td>
                      </tr>
                      <tr>
                        <td>Correo: </td>
                        <td> <%= user.email %> </td>
                      </tr>
                        <td>Puntaje: </td>
                        <td><%= user.userid.score %> </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="/campaign" class="btn btn-primary">Crear Campaña</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
          </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Todas las Campañas <small>Stripped table subtitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Categoría</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                        </tr>
                      </thead>
                      <tbody id="list-campaigns">
                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

